/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff5f00, #6a1b9a);
    color: white;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Стили для шапки */
.header {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    animation: fadeIn 1s ease-out;
}

.header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-primary, .btn-secondary, .btn-back, .btn-donate {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #ff5f00;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover, .btn-back:hover, .btn-donate:hover {
    background-color: #ff9200;
    transform: scale(1.1);
}

/* Стили для кнопок */
.button-container {
    margin-top: 20px;
}

.donate-section {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.donation-options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.donation-option {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.donation-option:hover {
    transform: scale(1.05);
}

.donate-button {
    background-color: #ff5f00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.donate-button:hover {
    background-color: #ff9200;
    transform: scale(1.1);
}

.rules {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.rule {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ff5f00;
    transition: transform 0.3s ease;
}

.rule:hover {
    transform: scale(1.05);
}

/* Анимации */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}